<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Filme Buscado</title>
</head>
<body>
<div layout:fragment="conteudo">

    <h1>Filme encontrado na OMDb API</h1>
    <a href="/filmes">Lista de Filmes</a>
    <a href="/filmes/pesquisa">Buscar</a>

    <form>

        <div>
            <label for="poster"></label>
            <img id="poster" name="poster" th:src="${filmeOmdb?.poster}" alt="Poster do Filme">
        </div>

        <div>
            <label for="nome">Nome:</label>
            <input id="nome" name="nome" th:value="${filmeOmdb?.nome}" readonly>
        </div>

        <div>
            <label for="duracao">Duração (em minutos):</label>
            <input type="text" id="duracao" name="duracao" th:value="${filmeOmdb?.duracaoEmMinutos}" readonly>
        </div>

        <div>
            <label for="ano">Ano de lançamento:</label>
            <input type="text" name="ano" th:value="${filmeOmdb?.anoLancamento}" readonly>
        </div>

        <div>
            <label for="genero">Gênero:</label>
            <input id="genero" name="genero" th:value="${filmeOmdb?.genero}" readonly>
        </div>


    </form>

</div>

</body>
</html>