<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Buscador de filme</title>
</head>
<body>
<div layout:fragment="conteudo">

    <h1>Pesquisar Filme na OMDb API</h1>

    <a href="/filmes/formulario">Novo</a>
    <a href="/filmes">Lista de Filmes</a>

    <form method="post" action="/filmes/pesquisa">

        <input type="hidden" name="busca" th:value="${busca}">

        <div>
            <input type="search" id="title" name="title" placeholder="Informe o nome do filme" th:value="${filme?.title}">
        </div>
            <input type="submit" value="Pesquisar">

    </form>


</div>
</body>
</html>